@{
  Layout = "_Layout";
}

@model DineDash.Models.Restaurant

<h4> Add a new Restaurant</h4>
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name)

  @Html.LabelFor(model => model.Cuisine)
  @Html.DropDownList("CuisineId")

  @Html.CheckBox("Favorite", true)

  <input type = "submit" value="Add a new Restaurant" />
}
<p>@Html.ActionLink("Show all Restaurants", "Index")</p>